#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.moving-line {
  animation: moveLine 2s ease-in-out infinite;
}

@keyframes moveLine {
  0%{
    transform: translateX(-70%);
  }
  50% {
    transform: translateX(70%);
  }
 100% {
    transform: translateX(-70%);
  }
}
